<html>
    <head>
        <style>
            button{
              font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            }
            body{
                background-color: #121213;
            }
            table {
                border: 4px groove aqua;
                border-collapse: separate;
                border-spacing: 10px;
                *border-collapse: expression('separate', cellSpacing='50px');
            }
            td {
            padding-top:20px;
            padding-bottom:20px;
            padding-right:20px;   
            margin: 12px 12px 12px 12px;
            }

            td:first-child {
            padding-left:20px;
            padding-right:0;
            }
            .switch {
              position: relative;
              display: inline-block;
              width: 50px;
              height: 24px;
            }

            .switch input { 
              opacity: 0;
              width: 0;
              height: 0;
            }

            .slider {
              position: absolute;
              cursor: pointer;
              top: 0;
              left: 0;
              right: 0;
              bottom: 0;
              background-color: #ccc;
              -webkit-transition: .4s;
              transition: .4s;
            }

            .slider:before {
              position: absolute;
              content: "";
              height: 17px;
              width: 18px;
              left: 4px;
              bottom: 4px;
              background-color: white;
              -webkit-transition: .4s;
              transition: .4s;
            }

            input:checked + .slider {
              background-color: #538d4e;
            }

            input:focus + .slider {
              box-shadow: 0 0 1px #538d4e;
            }

            input:checked + .slider:before {
              -webkit-transform: translateX(26px);
              -ms-transform: translateX(26px);
              transform: translateX(26px);
            }

            /* Rounded sliders */
            .slider.round {
              border-radius: 34px;
            }

            .slider.round:before {
              border-radius: 50%;
            }
        </style>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    </head>
    <center>
    <body>
    

        <h1><span onclick="location.href='/';" style="color:aqua;">Guess me!</span></h1>
      
        <br> <br>
        <% if (logUser != null) { %>
          <div>
            <h4 style="color:white;">Your hidden status</h4>
            <label class="switch">
              <% if (logUser.hidden == 1) {%>
                <input onchange='
                  if(document.getElementById("hides").checked){
                    location.href="/hide/1";
                  }else{
                    location.href="/hide/0";
                  }
                ' id="hides" type="checkbox" checked>
              <%}else{%>
                <input onchange='
                  if(document.getElementById("hides").checked){
                    location.href="/hide/1";
                  }else{
                    location.href="/hide/0";
                  }
                  ' id="hides" type="checkbox" >
              <% } %>
              <span class="slider round"></span>
            </label>
          </div>
        <div style="overflow-x: auto;">
          <img style="display : inline-block;" width="24px" height="24px" src="<%= logUser.picture.data.url %>">
          <h5 style="display: inline-block; color:white;"><%= logUser.first_name %> <%= logUser.last_name%> | </h5>
          <a href="/logout" style="color: whitesmoke; display: inline-block;">Logout</a>
        
        </div>
      
        <% } %>
        <table style="margin-bottom:1%; color: #cadad5; border-color: aqua;" >
            <tr>
                <% 
                  if(colors.length !=0 && yourword.length != 0){
                    let k = 0;
                    for(var i=0; i<=colors.length-1; i++){
                      if(colors[i] == 3){ %>
                        <td style="font-size: 40px; padding: 20px; background-color: #538d4e;"><span style="color : #d7dadc;"><%= yourword[k] %></span></td>
                      <%}
                      if(colors[i] == 2){%>
                        <td style="font-size: 40px; padding: 20px; background-color: #b59f3b;"><span style="color : #d7dadc;"><%= yourword[k] %></span></td>
                      <%}
                      if(colors[i] == 1){%>
                        <td style="font-size: 40px; padding: 20px; background-color: #818384;"><span style="color : #d7dadc;"><%= yourword[k] %></span></td>
                      <%}
                      k++;
                    }
                  }else{%>
                    <td style="font-size: 40px; padding: 20px; background-color: #818384;"></td>
                    <td style="font-size: 40px; padding: 20px; background-color: #818384;"></td>
                    <td style="font-size: 40px; padding: 20px; background-color: #818384;"></td>
                    <td style="font-size: 40px; padding: 20px; background-color: #818384;"></td>
                    <td style="font-size: 40px; padding: 20px; background-color: #818384;"></td>
                    <td style="font-size: 40px; padding: 20px; background-color: #818384;"></td>
                    <td style="font-size: 40px; padding: 20px; background-color: #818384;"></td>
                    <td style="font-size: 40px; padding: 20px; background-color: #818384;"></td>
                    <td style="font-size: 40px; padding: 20px; background-color: #818384;"></td>
                    <td style="font-size: 40px; padding: 20px; background-color: #818384;"></td>
                  <%}
                %>
            </tr>
        </table>
        <% if(won == "true"){ %>
        <h1 style="color:orangered;">🎖 Congrats 🎖 YOU WON! that's the right word: <%= yourword %></h1>
        <h2 style="color:aqua">Make a screenshot and share with your friends to celebrate. 🥳</h2>
        <% } %>
        <% if(auth == true ) { %>
        
        <form id="form" onsubmit="event.preventDefault(); gett(document.getElementById('pass').value);" action ="/process" method="post">
          <input name="pass" style="font-size: 30px;" id="pass" type ="text"/>
          <input type="submit" style="font-size: 30px;"  value="👍">
          <br><a style=" color: #cadad5;" ><span id="charsNum">0</span>/10</a>
        </form>
        <span id="err" style="display: none; color:orangered;">the word should have 10 letters</span>
        <% }else{ %>
          <p style=" color: #cadad5;" >To start playing login with you facebook account</p>
          <button class="btn" target="_blank" id="login" onclick="location.href='/auth/fb'" style="background-color: rgb(62, 62, 255); font-size: 25px; border-radius: 5%; border-color: transparent;"><i class="fa fa-facebook"></i> Facebook</button>
        <% } %>



        <br><br><br>
        <h1 style="color: #cadad5;" id="msg" >it's simple!</h1>
        <p style="color: #cadad5;" >You GUESS the RIGHT original word you EARN <span style="color:aqua">points</span> (comming soon~)</p>
        <p style="color: #cadad5;" >* the word contains 10 caracters (not case sensitive)</p>
        <p style="color: #cadad5;" >* the word has digits and letters from a to z and special symbols (excluding non-printed caracters)</p>
        <p style="color: #cadad5;" >* that's it! enjoy</p>
        <p style="color: #cadad5;" >* Oh! btw you won't find anything in javascript files so don't bother 😏</p>
        
        <h1 style="color: #cadad5;" id="msg" >~THE RULES~</h1>
        <p style="color: #cadad5;" >if a caracter you set is in its right place like the original word the square becomes <span style="color: #538d4e;">green</span> </p>
        <p style="color: #cadad5;" >if a caracter you set is NOT in its right place like the original word the square becomes <span style="color: #b59f3b;">orange</span> </p>
        <p style="color: #cadad5;" >if a caracter you set is NOT in the original word AT ALL the square becomes <span style="color: #818384;">grey</span> </p>
        
        <a style="font-size: 20px; color: aqua;" href="/leaderboard">[Leaderboard]</a>
        <h6 style="margin-top: 10%; font-size: 20px; color: #cadad5;" >Made with ❤️ by Ahmed Debbech</h6>
    


        <script>
            function gett(word){
                if(word.length != 10){
                    document.getElementById("err").style.display = "block";
                }else{
                    document.getElementById("form").submit();
                }
            }
              document.getElementById("pass").addEventListener('input', (e) =>{
                if(e.target.value.length > 10) {document.getElementById("charsNum").style.color = "red";}else{document.getElementById("charsNum").style.color = "#cadad5"}
                  document.getElementById("charsNum").innerHTML= e.target.value.length;
              } );
          
        </script>
    </body>
    </center>
</html>
<!-- HAHAHA!! what a looser, you won't find anything here baby <3 -->
