<html>
    <head>
        <style>
            .rectangle {
              height: 50px;
              width: 100%;
              background-color: aqua;
              padding: 10px;
              margin :auto;
              text-align : center;
            }
            button{
              font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            }
            body{
                background-color: /*#121213;*/ #181818;
            }
            table {
                border: 4px groove aqua;
                border-collapse: separate;
                border-spacing: 10px;
                *border-collapse: expression('separate', cellSpacing='50px');
            }
            td {
            padding-top:20px;
            padding-bottom:20px;
            padding-right:20px;   
            margin: 12px 12px 12px 12px;
            }

            td:first-child {
            padding-left:20px;
            padding-right:0;
            }
            .switch {
              position: relative;
              display: inline-block;
              width: 50px;
              height: 24px;
            }

            .switch input { 
              opacity: 0;
              width: 0;
              height: 0;
            }

            .slider {
              position: absolute;
              cursor: pointer;
              top: 0;
              left: 0;
              right: 0;
              bottom: 0;
              background-color: #ccc;
              -webkit-transition: .4s;
              transition: .4s;
            }

            .slider:before {
              position: absolute;
              content: "";
              height: 17px;
              width: 18px;
              left: 4px;
              bottom: 4px;
              background-color: white;
              -webkit-transition: .4s;
              transition: .4s;
            }

            input:checked + .slider {
              background-color: #538d4e;
            }

            input:focus + .slider {
              box-shadow: 0 0 1px #538d4e;
            }

            input:checked + .slider:before {
              -webkit-transform: translateX(26px);
              -ms-transform: translateX(26px);
              transform: translateX(26px);
            }

            /* Rounded sliders */
            .slider.round {
              border-radius: 34px;
            }

            .slider.round:before {
              border-radius: 50%;
            }
        </style>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <title>Wordrace</title>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        
      </head>
    <body onload="load();">

      <div class="rectangle">
        <h1><span onclick="location.href='/';" style="font-size: xx-large;   font-family: 'Lucida Console', 'Courier New', monospace;          color:#181818;">Wordrace</span></h1>
      </div>
      <center>
        <input id="word_id" type="hidden" value="<%= word_id %>"/>
        <br> <br>
        <% if (Object.keys(logUser).length != 0) { %>
        
        <div style="overflow-x: auto;">
          <h2 style="display: inline-block; color:white;">Hello, <span style="font-size: xx-large; color: #b59f3b;"><%= logUser.username %> </span></h2> 
            <br><a href="/logout" style="font-size: xx-small; color:whitesmoke; display: inline-block;">[Log out]</a>
            <br>
          <h3 style=" display: inline-block; color:white;">(<%= logUser.points %>) pts </h3><br>
        
        </div>
      
        <% } %>
        <table style="margin-bottom:1%; color: #cadad5; border-radius: 10px; border-color: aqua;" >
            <tr>
                <% 
                  if(colors.length !=0 && yourword.length != 0){
                    let k = 0;
                    for(var i=0; i<=colors.length-1; i++){
                      if(colors[i] == 3){ %>
                        <td style="font-size: 40px; padding: 20px; border-radius: 20%; background-color: #538d4e;"><span style="color : #d7dadc;"><%= yourword[k] %></span></td>
                      <%}
                      if(colors[i] == 2){%>
                        <td style="font-size: 40px; padding: 20px;  border-radius: 20%; background-color: #b59f3b;"><span style="color : #d7dadc;"><%= yourword[k] %></span></td>
                      <%}
                      if(colors[i] == 1){%>
                        <td style="font-size: 40px; padding: 20px; border-radius: 20%; background-color: #818384;"><span style="color : #d7dadc;"><%= yourword[k] %></span></td>
                      <%}
                      k++;
                    }
                  }else{%>
                    <% for(var i=0; i<=length-1; i++){ %>
                    <td style="font-size: 40px; padding: 20px; border-radius: 20%; background-color: #818384;"></td>
                    <% } %>
                  <%}
                %>
            </tr>
        </table>
        <% if(won == "true"){ %>
        <h1 style="color:orangered;">🎖 Congrats 🎖 YOU WON! that's the right word: <%= yourword %></h1>
        <h2 style="color:aqua">Make a screenshot and share with your friends to celebrate. 🥳</h2>
        <% } %>
        <% if(auth == true ) { %>
        
        <form id="form" action ="/process" method="post">
          <% if(yourword != null){ %>
          <input value="<%= yourword %>" style="" name="pass" style="font-size: 30px;" id="pass" type ="text"/>
          <% }else{ %>
            <input name="pass" style="font-size: 30px;" id="pass" type ="text"/>
          <% } %>
          <input type="submit" style="border-radius: 20%; font-size: 30px;"  value="👍">
          <input type="hidden"  value = "<%= length %>" id="actualLen"/>
          <br><a style=" color: #cadad5;" ><span id="charsNum"></span>/<%= length %></a>
        </form>
        <span id="err" style="display: none; color:orangered;">the word should have <%= length %> letters</span>
        <% }else{ %>
          <p style=" color: #cadad5;" >To start playing login with you facebook account or by your email</p>
          <tr>
            <td><button disabled="true" class="btn" target="_blank" id="login" onclick="" style="color: white; background-color: #656565; font-size: 25px; border-radius: 10px; border-color: transparent;"><i class="fa fa-facebook"></i> Facebook ~ soon</button></td>
            <td><button class="btn" target="_blank" id="signup" onclick="document.getElementById('div-form-login').removeAttribute('hidden')" style="color: white; background-color: #66836a; font-size: 25px; border-radius: 10px; border-color: transparent;"> By email</button></td>
          </tr>
          <br> <br>
          <center>
          <div  style=" width:20%;  border-style : dotted; border-color: #538d4e;"  id="div-form-signup" hidden="hidden" >
            <form id="formsignup"  action ="/ath/signup" method="post">
              <p style="color: #cadad5;">Username: </p>
              <input name="username" type="text" value=""/>
              <p style="color: #cadad5;">Email: </p>
              <input type="text" name="email" value=""/>
              <p style="color: #cadad5;">Password: </p>
              <input type="password" name="password" value=""/>
              <p ></p>
              <button type="submit">Create account</button>
              <a onclick="document.getElementById('div-form-login').removeAttribute('hidden'); document.getElementById('div-form-signup').setAttribute('hidden', 'hidden')"><p style="color: #cadad5;">Already have an account?</p></a>
            </form>
          </div>
          </center>
          <center>
          <div  style=" width:20%;  border-style : dotted; border-color: #538d4e;"  id="div-form-login" hidden="hidden" >
            <form id="formlogin"  action ="/ath/log" method="post">
              <p style="color: #cadad5;">Username or Email: </p>
              <input name="email" type="text" value=""/>
              <p style="color: #cadad5;">Password: </p>
              <input name="password" type="password" value=""/>
              <p ></p>
              <button type="submit">Log in</button>
              <a onclick="document.getElementById('div-form-signup').removeAttribute('hidden'); document.getElementById('div-form-login').setAttribute('hidden', 'hidden')"><p style="color: #cadad5;">Create a new account?</p></a>
            </form>
          </div>
          </center>
        <% } %>




        <br><br><br>
      

        <h1 style="color: #cadad5;" id="msg" >it's simple!</h1>
        <p style="color: #cadad5;" >You GUESS the RIGHT word you EARN <span style="color:aqua"> points </span></p>
        <p style="color: #cadad5;" >* the word is an english word (not case sensitive)</p>
        <p style="color: #cadad5;" >* the first player to guess the word earns  <span style="color:aqua"> points </span> (see bellow) and a new word is generated... and so on</p>
        <p style="color: #cadad5;" >* that's it! enjoy</p>
        <p style="color: #cadad5;" >* Oh! btw you won't find any hints in the source code so don't bother 😏</p>
        
        <br>
        <h1 style="color: #cadad5;" id="msg" >~ The rules ~</h1>
        <p style="color: #cadad5;" >if a character you set is in its right place like the original word the square becomes <span style="color: #538d4e;">green</span> </p>
        <p style="color: #cadad5;" >if a character you set is NOT in its right place like the original word the square becomes <span style="color: #b59f3b;">orange</span> </p>
        <p style="color: #cadad5;" >if a character you set is NOT in the original word AT ALL the square becomes <span style="color: #818384;">grey</span> </p>
        
        <br><br>
        <br><br>
        <tr>
        <td> <a style="font-size: 20px; color: aqua;" href="/leaderboard">[Leaderboard]</a>        </td>
        <td> <a style="font-size: 20px; color: aqua;" href="/leaderboard">[Privacy & Policy]</a>        </td>
        </tr>
        <h6 style="font-size: 20px; color: #cadad5;" >Made with ❤️ by Ahmed Debbech Ⓒ 2022-2023</h6>
    
      

        <script>
            function gett(word){
                if(word.length != document.getElementById("actualLen").value){
                    document.getElementById("err").style.display = "block";
                }else{
                    document.getElementById("form").submit();
                }
            }
            document.getElementById("pass").addEventListener('input', (e) =>{
                if(e.target.value.length > document.getElementById("actualLen").value) {document.getElementById("charsNum").style.color = "red";}else{document.getElementById("charsNum").style.color = "#cadad5"}
                document.getElementById("charsNum").innerHTML= e.target.value.length;
            } );
        </script>

        <script>
          function load(){
            document.getElementById("charsNum").value = document.getElementById("pass").value.length;
            function check(){
              $.ajax({
                url: "/done/"+document.getElementById("word_id").value,
                context: document.body
              }).done(function(data) {
                if(data == "1"){
                  location.href="/solved"
                }
              });
            }
            window.setInterval(check, 2000);
          }
        </script>
      </center>
    </body>
</html>